<div class="page-container">
  <mat-toolbar
    color="primary"
    class="page-toolbar">
    <button mat-button (click)="navigation.toggle()">Menu</button>
    <h1 class="page-app-name">Fleet Management</h1>
  </mat-toolbar>

  <mat-sidenav-container class="page-sidenav-container">
    <mat-sidenav
      #navigation
      fixedTopGap="56">
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="./manage-fleet">
          Manage
        </a>
        <a
          mat-list-item
          routerLink="./monitor-fleet">
          Monitor
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>