table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.header {
    display: flex;
    justify-content: space-between;

    button {
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
}

.table-container {
    overflow: auto;
    white-space: nowrap;
}